:root {
  --mdc-theme-primary: navy;
  --mdc-theme-secondary: pink;
  --mdc-theme-background: #fff;
  --mdc-theme-on-primary: #fff;
  --mdc-theme-on-secondary: #fff;

  --app-container-background: #fafafa;
  --app-footer-background: #9a9a9a;
  --app-dark: #999;

  display: flex;
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
  letter-spacing: 0.1px;
  color: rgba(0, 0, 0, 0.65);
  line-height: 1.5em;
  width: 100%;
  background-color: #fafafa;
  background-color: var(--app-container-background, #fafafa);
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: justify;
}

.app-link,
.app-link:link,
.app-link:visited {
  cursor: pointer;
  color: blue;
  text-decoration: none;
}

.app-link:hover {
  color: blueviolet;
  text-decoration: none;
}

a.anchor {
  position: relative;
  top: -64px;
}

.app-sticky {
  position: sticky;
  top: 64px;
}

.app-pointer {
  cursor: pointer;
}

.app-top-app-bar {
  background-color: rgba(0, 0, 0, 0.5);
}

.cover {
  height: 400px;
  width: 100%;
  background-color: #cccccc;
  background: url('images/feature-graphic.png') center center no-repeat;
  background-size: cover;
}

.app-title {
  border-bottom: solid 2px var(--app-dark);
  padding-bottom: 4px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;

  max-width: 1100px;
  position: relative;
  margin: 0 auto;
  padding: 0 auto;

  --background-color: lightcyan;
  --outline: solid 1px gray;
}

.content {
  max-width: 740px;
  --width: 750px;
  padding: 32px;

  --background-color: lightgreen;
  --outline: solid 1px gray;
}

.side-bar {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  width: 250px;
  position: relative;
  vertical-align: top;
  padding: 32px;
  padding-right: 0;

  --background-color: lightyellow;
  --outline: solid 1px gray;
}

.app-badge {
  text-align: center;
}

.app-toolbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.app-button {
  height: 18px;
}

@media (max-width: 750px) {
  .app-top-app-bar .mdc-top-app-bar__title {
    white-space: normal;
    line-height: 1.2rem;
  }

  .cover {
    height: 200px;
  }

  .container {
    flex-direction: column;
  }

  .side-bar {
    max-width: 740px;
    width: calc(100% - 64px);
    padding: 0 32px;

    --background-color: lightyellow;
  }

  .app-sticky {
    position: inherit;
    top: 0px;
  }
}

.app-card {
  display: flex;
  flex-direction: row;
}

.app-card__media {
  padding: 4px;
  background-color: #ccc;
}

.app-card__content {
  padding: 8px 16px;
  flex: 1 1 auto;

  --background-color: lightyellow;
}

.app-card__list {
  --padding: 8px 16px;
  flex: 1 1 auto;
  --background-color: lightyellow;
}

.app-card .mdc-list-item__primary-text,
.app-card .mdc-list-item__secondary-text {
  white-space: normal;
}

.app-card .mdc-list-item__graphic {
  margin-right: 8px;
}

.footer {
  min-height: 50px;
  --height: 50px;
  background-color: #9a9a9a;
  background-color: var(--app-footer-background, #9a9a9a);
  padding: 32px;
  text-align: center;
}

.footer P {
  font-size: smaller;
  text-align: center;
}
