:root {
  --mdc-theme-primary: #3f51b5;
  --mdc-theme-secondary: pink;
  --mdc-theme-background: #fff;
  --mdc-theme-on-primary: #fff;
  --mdc-theme-on-secondary: #fff;
}

:root body {
  margin: 0;
}

.test {
  background-color: var(--mdc-theme-primary);
  color: var(--mdc-theme-on-primary);
}
